# 2 Data wrangling<a id='2_Data_wrangling'></a>

# 2.1 Contents<a id='2.1_Contents'></a>
* [2 Data wrangling](#2_Data_wrangling)
  * [2.1 Contents](#2.1_Contents)
  * [2.2 Introduction](#2.2_Introduction)
    * [2.2.1 Recap Of Data Science Problem](#2.2.1_Recap_Of_Data_Science_Problem)
    * [2.2.2 Introduction To Notebook](#2.2.2_Introduction_To_Notebook)
  * [2.3 Imports](#2.3_Imports)
  * [2.4 Objectives](#2.4_Objectives)
  * [2.5 Load The Ski Resort Data](#2.5_Load_The_Ski_Resort_Data)
  * [2.6 Explore The Data](#2.6_Explore_The_Data)
    * [2.6.1 Find Your Resort Of Interest](#2.6.1_Find_Your_Resort_Of_Interest)
    * [2.6.2 Number Of Missing Values By Column](#2.6.2_Number_Of_Missing_Values_By_Column)
    * [2.6.3 Categorical Features](#2.6.3_Categorical_Features)
      * [2.6.3.1 Unique Resort Names](#2.6.3.1_Unique_Resort_Names)
      * [2.6.3.2 Region And State](#2.6.3.2_Region_And_State)
      * [2.6.3.3 Number of distinct regions and states](#2.6.3.3_Number_of_distinct_regions_and_states)
      * [2.6.3.4 Distribution Of Resorts By Region And State](#2.6.3.4_Distribution_Of_Resorts_By_Region_And_State)
      * [2.6.3.5 Distribution Of Ticket Price By State](#2.6.3.5_Distribution_Of_Ticket_Price_By_State)
        * [2.6.3.5.1 Average weekend and weekday price by state](#2.6.3.5.1_Average_weekend_and_weekday_price_by_state)
        * [2.6.3.5.2 Distribution of weekday and weekend price by state](#2.6.3.5.2_Distribution_of_weekday_and_weekend_price_by_state)
    * [2.6.4 Numeric Features](#2.6.4_Numeric_Features)
      * [2.6.4.1 Numeric data summary](#2.6.4.1_Numeric_data_summary)
      * [2.6.4.2 Distributions Of Feature Values](#2.6.4.2_Distributions_Of_Feature_Values)
        * [2.6.4.2.1 SkiableTerrain_ac](#2.6.4.2.1_SkiableTerrain_ac)
        * [2.6.4.2.2 Snow Making_ac](#2.6.4.2.2_Snow_Making_ac)
        * [2.6.4.2.3 fastEight](#2.6.4.2.3_fastEight)
        * [2.6.4.2.4 fastSixes and Trams](#2.6.4.2.4_fastSixes_and_Trams)
  * [2.7 Derive State-wide Summary Statistics For Our Market Segment](#2.7_Derive_State-wide_Summary_Statistics_For_Our_Market_Segment)
  * [2.8 Drop Rows With No Price Data](#2.8_Drop_Rows_With_No_Price_Data)
  * [2.9 Review distributions](#2.9_Review_distributions)
  * [2.10 Population data](#2.10_Population_data)
  * [2.11 Target Feature](#2.11_Target_Feature)
    * [2.11.1 Number Of Missing Values By Row - Resort](#2.11.1_Number_Of_Missing_Values_By_Row_-_Resort)
  * [2.12 Save data](#2.12_Save_data)
  * [2.13 Summary](#2.13_Summary)

# 2.1 Contents<a id='2.1_Contents'></a>
* [2 Data wrangling](#2_Data_wrangling)
  * [2.1 Contents](#2.1_Contents)
  * [2.2 Introduction](#2.2_Introduction)
    * [2.2.1 Recap Of Data Science Problem](#2.2.1_Recap_Of_Data_Science_Problem)
    * [2.2.2 Introduction To Notebook](#2.2.2_Introduction_To_Notebook)
  * [2.3 Imports](#2.3_Imports)
  * [2.4 Objectives](#2.4_Objectives)
  * [2.5 Load The Ski Resort Data](#2.5_Load_The_Ski_Resort_Data)
  * [2.6 Explore The Data](#2.6_Explore_The_Data)
    * [2.6.1 Find Your Resort Of Interest](#2.6.1_Find_Your_Resort_Of_Interest)
    * [2.6.2 Number Of Missing Values By Column](#2.6.2_Number_Of_Missing_Values_By_Column)
    * [2.6.3 Categorical Features](#2.6.3_Categorical_Features)
      * [2.6.3.1 Unique Resort Names](#2.6.3.1_Unique_Resort_Names)
      * [2.6.3.2 Region And State](#2.6.3.2_Region_And_State)
      * [2.6.3.3 Number of distinct regions and states](#2.6.3.3_Number_of_distinct_regions_and_states)
      * [2.6.3.4 Distribution Of Resorts By Region And State](#2.6.3.4_Distribution_Of_Resorts_By_Region_And_State)
      * [2.6.3.5 Distribution Of Ticket Price By State](#2.6.3.5_Distribution_Of_Ticket_Price_By_State)
        * [2.6.3.5.1 Average weekend and weekday price by state](#2.6.3.5.1_Average_weekend_and_weekday_price_by_state)
        * [2.6.3.5.2 Distribution of weekday and weekend price by state](#2.6.3.5.2_Distribution_of_weekday_and_weekend_price_by_state)
    * [2.6.4 Numeric Features](#2.6.4_Numeric_Features)
      * [2.6.4.1 Numeric data summary](#2.6.4.1_Numeric_data_summary)
      * [2.6.4.2 Distributions Of Feature Values](#2.6.4.2_Distributions_Of_Feature_Values)
        * [2.6.4.2.1 SkiableTerrain_ac](#2.6.4.2.1_SkiableTerrain_ac)
        * [2.6.4.2.2 Snow Making_ac](#2.6.4.2.2_Snow_Making_ac)
        * [2.6.4.2.3 fastEight](#2.6.4.2.3_fastEight)
        * [2.6.4.2.4 fastSixes and Trams](#2.6.4.2.4_fastSixes_and_Trams)
  * [2.7 Derive State-wide Summary Statistics For Our Market Segment](#2.7_Derive_State-wide_Summary_Statistics_For_Our_Market_Segment)
  * [2.8 Drop Rows With No Price Data](#2.8_Drop_Rows_With_No_Price_Data)
  * [2.9 Review distributions](#2.9_Review_distributions)
  * [2.10 Population data](#2.10_Population_data)
  * [2.11 Target Feature](#2.11_Target_Feature)
    * [2.11.1 Number Of Missing Values By Row - Resort](#2.11.1_Number_Of_Missing_Values_By_Row_-_Resort)
  * [2.12 Save data](#2.12_Save_data)
  * [2.13 Summary](#2.13_Summary)

## 2.2 Introduction<a id='2.2_Introduction'></a>

This step focuses on collecting your data, organizing it, and making sure it's well defined. Paying attention to these tasks will pay off greatly later on. Some data cleaning can be done at this stage, but it's important not to be overzealous in your cleaning before you've explored the data to better understand it.

### 2.2.1 Maricopa_Housing: Data Science Problem<a id='2.2.1_Recap_Of_Data_Science_Problem'></a>

The purpose of this data science project is to come up with a pricing model for fair market value of real estate properties based on features and zipcodes. The Maricopa housing market is dynamic and further analysis using zipcodes is expected to render a better pricing for residential properties located in specific zipcodes. This project aims to build a predictive model for fair market value of residential properties price based on a number of features, including the location as indicated by zipcodes.* 
This model will be used to provide guidance for market participants: buyers, sellers, developers, local government when budgeting infrastructure investments.

### 2.2.2 Introduction To Notebook<a id='2.2.2_Introduction_To_Notebook'></a>

Notebooks grow organically as we explore our data. If you used paper notebooks, you could discover a mistake and cross out or revise some earlier work. Later work may give you a reason to revisit earlier work and explore it further. The great thing about Jupyter notebooks is that you can edit, add, and move cells around without needing to cross out figures or scrawl in the margin. However, this means you can lose track of your changes easily. If you worked in a regulated environment, the company may have a a policy of always dating entries and clearly crossing out any mistakes, with your initials and the date.

**Best practice here is to commit your changes using a version control system such as Git.** Try to get into the habit of adding and committing your files to the Git repository you're working in after you save them. You're are working in a Git repository, right? If you make a significant change, save the notebook and commit it to Git. In fact, if you're about to make a significant change, it's a good idea to commit before as well. Then if the change is a mess, you've got the previous version to go back to.

**Another best practice with notebooks is to try to keep them organized with helpful headings and comments.** Not only can a good structure, but associated headings help you keep track of what you've done and your current focus. Anyone reading your notebook will have a much easier time following the flow of work. Remember, that 'anyone' will most likely be you. Be kind to future you!

In this notebook, note how we try to use well structured, helpful headings that frequently are self-explanatory, and we make a brief note after any results to highlight key takeaways. This is an immense help to anyone reading your notebook and it will greatly help you when you come to summarise your findings. **Top tip: jot down key findings in a final summary at the end of the notebook as they arise. You can tidy this up later.** This is a great way to ensure important results don't get lost in the middle of your notebooks.

In this, and subsequent notebooks, there are coding tasks marked with `#Code task n#` with code to complete. The `___` will guide you to where you need to insert code.

## 2.3 Imports<a id='2.3_Imports'></a>

Placing your imports all together at the start of your notebook means you only need to consult one place to check your notebook's dependencies. By all means import something 'in situ' later on when you're experimenting, but if the imported dependency ends up being kept, you should subsequently move the import statement here with the rest.

In [1]:
!pip3 install library

Requirement already satisfied: library in c:\users\sebastian\anaconda3\lib\site-packages (0.0.0)

In [2]:
#Code task 1#
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 2.4 Objectives<a id='2.4_Objectives'></a>

There are some fundamental questions to resolve in this notebook before you move on.

* Do you think you may have the data you need to tackle the desired question?
    * Have you identified the required target value?
    * Do you have potentially useful features?
* Do you have any fundamental issues with the data?

## 2.5 Load The Maricopa County Housing Data<a id='2.5_Load_The_Maricopa_County_Housing_data'></a>

In [3]:
# the supplied CSV data file is the raw_data directory
housing_data = pd.read_csv("C://Users//Sebastian//OneDrive//Desktop//Capstone Projects//CapstoneProject2//Raw_data//Maricopa_County_Housing_data.csv")

Good first steps in auditing the data are the info method and displaying the first few records with head.

In [4]:
#Code task 2#
#Call the info method on housing_data to see a summary of the data
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3117 entries, 0 to 3116
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Zip_Code                    3117 non-null   int64
 1   Dwelling_Type               3117 non-null   object
 2   Nr_Bedrooms                 3117 non-null   int64
 3   Nr_Bathrooms                3117 non-null   float64
 4   Approx_SQFT                 3117 non-null   object
 5   Price_per_SqFt              3117 non-null   object
 6   Property_Type               3117 non-null   object
 7   Dwelling_Styles             3117 non-null   object
 8   Year_Built                  3117 non-null   int64
 9   Approx_Lot_SqFt             3117 non-null   object
 10  Pool                        2052 non-null   object
 11  HOA_Fee                     2200 non-null   float64
 12  Land_Lease_Fee              3117 non-null   object
 13  Clubhouse_Rec_Room          871 non-null    object
 14  Basement                    3117 non-null   object
 15  RV_Gate                     499 non-null    object
 16  List_Price                  3117 non-null   object
 17  Sold_Price                  3117 non-null   object
 18  Building_Style              232 non-null    object
 19  Gated_Community             723 non-null    object
 20  Workout_Facility            619 non-null    object
 21  Garage_Spaces               3117 non-null   float64
 22  Carport_Spaces              3117 non-null   float64
 23  Loan_Type                   3117 non-null   object
 24  Payment_Type                2167 non-null   object
 25  Buyer_Concession_to_Seller  3117 non-null   float64
 26  Buyer_Concession_$/%        3117 non-null   object
 27  Seller_Concession_to_Buyer  3117 non-null   float64
 28  Seller_Concession_$/%       3117 non-null   object
dtypes: float64(6), int64(3), object(20)
memory usage: 706.3+ KB

`Sold Price` is the price at which the real estate property was sold. The other columns are features and other related information.

In [5]:
#Code task 3#
#Call the head method on ski_data to print the first several rows of the data
housing_data.head()

,Zip_Code,Dwelling_Type,Nr_Bedrooms,Nr_Bathrooms,Approx_SQFT,Price_per_SqFt,Property_Type,Dwelling_Styles,Year_Built,Approx_Lot_SqFt,...,Gated_Community,Workout_Facility,Garage_Spaces,Carport_Spaces,Loan_Type,Payment_Type,Buyer_Concession_to_Seller,Buyer_Concession_$/%,Seller_Concession_to_Buyer,Seller_Concession_$/%
0,85003,AF,1,1.0,720,340.28,Residential,Stacked,1964,652,...,Yes,Yes,0.0,1.0,Conventional,Fixed,0.0,$,3.00,%
1,85003,LS,1,1.0,755,430.46,Residential,Stacked,2005,751,...,Yes,Yes,0.0,0.0,VA,Fixed,0.0,%,0.00,$
2,85003,SF,4,3.0,"3,415",439.23,Residential,Detached,1940,"11,696",...,Yes,Yes,2.0,0.0,Conventional,Fixed,0.0,$,0.00,$
3,85003,AF,1,1.0,710,436.61,Residential,Stacked,2005,0,...,Yes,Yes,0.0,0.0,Conventional,Adjustable,0.0,$,6000.00,$
4,85003,AF,2,2.5,"1,510",314.56,Residential,Stacked,2007,654,...,NaN,Yes,2.0,0.0,Conventional,Fixed,0.0,$,3.75,%

## 2.6 Explore The Data<a id='2.6_Explore_The_Data'></a>

### 2.6.1 Find Your Resort Of Interest<a id='2.6.1_Find_Your_Resort_Of_Interest'></a>

My zipcode is 85202. Check it's in the data:

In [6]:
#Code task 4#
#Filter the housing_data dataframe to display just the rows for 85202 zipcode 

housing_data[housing_data.Zip_Code == 85202].transpose()

,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,...,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384
Zip_Code,85202,85202,85202,85202,85202,85202,85202,85202,85202,85202,...,85202,85202,85202,85202,85202,85202,85202,85202,85202,85202
Dwelling_Type,AF,TH,TH,SF,MM,SF,SF,SF,SF,SF,...,SF,TH,TH,SF,SF,SF,AF,TH,SF,SF
Nr_Bedrooms,2,3,3,4,2,4,4,4,3,3,...,3,3,3,4,3,4,2,3,3,3
Nr_Bathrooms,2.0,1.0,2.0,2.0,2.0,2.5,3.0,2.0,2.0,2.0,...,2.0,1.5,1.5,2.0,2.0,2.5,2.0,2.0,2.0,2.0
Approx_SQFT,"1,198",988,"1,400","1,811","1,456","2,459","2,877","1,597","2,056","1,365",...,"2,758","1,320",987,"2,072","1,430","1,484","1,000","1,289","1,288","1,136"
Price_per_SqFt,260.43,271.26,246.43,240.19,77.61,270.44,260.69,281.78,257.78,287.91,...,253.8,219.7,283.69,262.78,332.17,276.28,240,250.97,326.08,299.3
Property_Type,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential,...,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential,Residential
Dwelling_Styles,Attached,Attached,Attached,Detached,Detached,Detached,Detached,Detached,Detached,Detached,...,Detached,Attached,Attached,Detached,Detached,Detached,Attached,Attached,Detached,Detached
Year_Built,1983,1972,2001,1978,1993,1979,1983,1977,1979,1971,...,1963,1974,1972,1978,1978,1978,1988,1974,1979,1975
Approx_Lot_SqFt,77,932,"1,560","9,874",0,"9,635","9,152","7,305","5,694","6,896",...,"31,128","1,603",932,"9,415","7,706","6,656","1,005","1,111","6,839","7,457"
Pool,Community,Community,Community,Both,Community,Community,Both,NaN,Community,NaN,...,Private,Community,Community,Both,Private,NaN,Community,Community,NaN,Private
HOA_Fee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Land_Lease_Fee,N,N,N,N,Y,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
Clubhouse_Rec_Room,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Basement,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,...,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: Y,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N,BASEMENT Y/N: N
RV_Gate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
List_Price,"314,900","275,000","345,000","464,900","127,797","675,000","759,000","459,990","530,000","415,000",...,"700,000","290,000","280,000","544,500","475,000","410,000","245,000","319,900","420,000","370,000"
Sold_Price,"312,000","268,000","345,000","435,000","113,000","665,000","750,000","450,000","530,000","393,000",...,"700,000","290,000","280,000","544,500","475,000","410,000","240,000","323,500","420,000","340,000"
Building_Style,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gated_Community,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Workout_Facility,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Garage_Spaces,0.0,0.0,1.0,2.0,0.0,3.0,2.0,2.0,2.0,2.0,...,2.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,1.0
Carport_Spaces,2.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,1.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0
Loan_Type,Conventional,FHA,Conventional,Other,Other,Conventional,Conventional,FHA,Conventional,Cash,...,Conventional,FHA,Conventional,Conventional,Conventional,Conventional,Cash,VA,FHA,Cash
Payment_Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buyer_Concession_to_Seller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0
Buyer_Concession_$/%,$,$,$,$,$,$,$,%,$,$,...,$,%,$,%,$,%,$,$,$,$
Seller_Concession_to_Buyer,3.0,13880.0,9000.0,0.0,0.0,5000.0,12500.0,2.0,0.0,0.0,...,14000.0,3800.0,3500.0,0.0,5000.0,0.25,0.0,2700.0,0.0,0.0
Seller_Concession_$/%,%,$,$,$,$,$,$,%,$,$,...,$,$,$,%,$,%,$,$,%,$

There are quite a few missing data for zipcode 85202.

### 2.6.2 Number Of Missing Values By Column<a id='2.6.2_Number_Of_Missing_Values_By_Column'></a>

Count the number of missing values in each column and sort them.

In [7]:
# Count the number of missing values in each column of housing_data as well as the percentages 
# Order them 
# Call `pd.concat` to present these in a single table (DataFrame) with the column names 'count' and '%'

missing = pd.concat([housing_data.isnull().sum(),100*housing_data.isnull().mean()],axis=1)
missing.columns = ['count','%']
missing.sort_values(by=['count'], ascending=False)

                            count          %
Building_Style               2885  92.556946
RV_Gate                      2618  83.991017
Workout_Facility             2498  80.141161
Gated_Community              2394  76.804620
Clubhouse_Rec_Room           2246  72.056465
Pool                         1065  34.167469
Payment_Type                  950  30.478024
HOA_Fee                       917  29.419313
Zip_Code                        0   0.000000
Sold_Price                      0   0.000000
Seller_Concession_to_Buyer      0   0.000000
Buyer_Concession_$/%            0   0.000000
Buyer_Concession_to_Seller      0   0.000000
Loan_Type                       0   0.000000
Carport_Spaces                  0   0.000000
Garage_Spaces                   0   0.000000
Basement                        0   0.000000
List_Price                      0   0.000000
Dwelling_Type                   0   0.000000
Land_Lease_Fee                  0   0.000000
Approx_Lot_SqFt                 0   0.000000
Year_Built                      0   0.000000
Dwelling_Styles                 0   0.000000
Property_Type                   0   0.000000
Price_per_SqFt                  0   0.000000
Approx_SQFT                     0   0.000000
Nr_Bathrooms                    0   0.000000
Nr_Bedrooms                     0   0.000000
Seller_Concession_$/%           0   0.000000

Zip_Code` is not missing any data and neither 'List_Price' and 'Sold_Price' and most missing data are in columns containing 'categorical' data

### 2.6.3 Categorical Features<a id='2.6.3_Categorical_Features'></a>

Categorical features have inherent missing data because different properties have different features. Therefore, missing data is information in itself

In [8]:
#Use housing_data's `select_dtypes` method to select columns of dtype 'object'
housing_data.select_dtypes('object')

,Dwelling_Type,Approx_SQFT,Price_per_SqFt,Property_Type,Dwelling_Styles,Approx_Lot_SqFt,Pool,Land_Lease_Fee,Clubhouse_Rec_Room,Basement,RV_Gate,List_Price,Sold_Price,Building_Style,Gated_Community,Workout_Facility,Loan_Type,Payment_Type,Buyer_Concession_$/%,Seller_Concession_$/%
0,AF,720,340.28,Residential,Stacked,652,Community,N,Yes,BASEMENT Y/N: N,Yes,"247,000","245,000",High Rise,Yes,Yes,Conventional,Fixed,$,%
1,LS,755,430.46,Residential,Stacked,751,Private,N,Yes,BASEMENT Y/N: N,Yes,"335,000","325,000",High Rise,Yes,Yes,VA,Fixed,%,$
2,SF,"3,415",439.23,Residential,Detached,"11,696",NaN,N,Yes,BASEMENT Y/N: Y,Yes,"1,595,000","1,500,000",High Rise,Yes,Yes,Conventional,Fixed,$,$
3,AF,710,436.61,Residential,Stacked,0,Community,N,Yes,BASEMENT Y/N: N,Yes,"315,000","310,000",High Rise,Yes,Yes,Conventional,Adjustable,$,$
4,AF,"1,510",314.56,Residential,Stacked,654,Community,N,Yes,BASEMENT Y/N: N,NaN,"469,900","475,000",High Rise,NaN,Yes,Conventional,Fixed,$,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3112,SF,"1,244",270.5,Residential,Detached,"6,648",NaN,N,NaN,BASEMENT Y/N: N,NaN,"337,500","336,500",NaN,NaN,NaN,Conventional,NaN,$,$
3113,SF,"1,854",237.32,Residential,Detached,"5,861",Community,N,NaN,BASEMENT Y/N: N,NaN,"429,900","440,000",NaN,NaN,NaN,Conventional,NaN,$,$
3114,SF,"1,738",243.38,Residential,Detached,"7,150",Community,N,NaN,BASEMENT Y/N: N,NaN,"425,000","423,000",NaN,NaN,NaN,Cash,NaN,%,$
3115,MM,"1,121",316.68,Residential,Detached,"209,872",NaN,N,NaN,BASEMENT Y/N: N,NaN,"350,000","355,000",NaN,NaN,NaN,Other,NaN,$,$
3116,MM,"1,344",222.47,Residential,Detached,"6,044",NaN,N,NaN,BASEMENT Y/N: N,NaN,"299,000","299,000",NaN,NaN,NaN,VA,NaN,$,$

Are there any issues with these columns? 

* **Basement** column has values represented by a repeating string **"BASEMENT Y/N:"** This needs to be deleted and the **'Y'** or **'N'** value should be the actual categorical value.
* Missing values in **'Pool'** column means the property does not have a pool. The missing data cannot and should not be imputed or replaced with some statistics. An additional categorical value should be added to represent **"no pool"** status, instead of NaN. Same goes for columns **'RV_Gate'**, **'Gated_Community'**, **'Workouty_Facility'**.
* Column **'Payment_type'** has missing values that represent whether the buyer financed the purchase with a fixed loan or an adjustable loan. The missing values probably correspond to a cash buyer, no loans. 
* Columns **'Approx_SQFT', 'Price_per_Sqft', 'Approx_Lot_SQFT', 'List_Price'** and **'Sold_Price'** should be of 'float' type.

#### 2.6.3.1 Unique Zip_Code <a id='2.6.3.1_Unique_Resort_Names'></a>

In [9]:
#Code task 7#
#Use pandas' Series method `value_counts` to find how many zip_codes are listed. The Zip_Code with the highest number means that is the zip code 
# where most houses have been sold. 
housing_data['Zip_Code'].value_counts()

Zip_Code
85326    123
85142     98
85396     92
85207     83
85251     80
        ...
85004      6
85003      6
85007      5
85139      2
85541      1
Name: count, Length: 88, dtype: int64

* In zipcode 85326 were sold 123 houses, 
* in zipcode 85142 were sold 98 houses, whereas 
* in zipcode 85541 only one house was sold in the time interval represented in the data set

How many zipcodes are in the dataset?

In [10]:
housing_data['Zip_Code'].unique()

array([85003, 85004, 85006, 85007, 85008, 85009, 85012, 85013, 85014,
       85015, 85016, 85017, 85018, 85019, 85020, 85021, 85022, 85023,
       85024, 85027, 85028, 85029, 85031, 85032, 85033, 85035, 85037,
       85040, 85041, 85042, 85043, 85044, 85045, 85048, 85050, 85051,
       85053, 85054, 85083, 85085, 85086, 85087, 85119, 85120, 85139,
       85142, 85201, 85202, 85203, 85204, 85205, 85206, 85207, 85208,
       85209, 85210, 85212, 85213, 85215, 85224, 85225, 85226, 85233,
       85234, 85248, 85249, 85250, 85251, 85253, 85254, 85255, 85257,
       85258, 85259, 85260, 85262, 85263, 85266, 85268, 85323, 85326,
       85375, 85377, 85378, 85379, 85395, 85396, 85541], dtype=int64)

Use len() to count how many zipcodes are in the data set

In [11]:
len(housing_data['Zip_Code'].unique())    # there are 88 zipcodes

88

#### 2.6.3.2 Sold price grouped by zipcode<a id='2.6.3.2_Region_And_State'></a>

What's the relationship between **Sold_Price** and **Zip_Code**?

In [31]:
# Groupby Zip_Code and Dwelling_Type
df = housing_data[['Zip_Code','Sold_Price']].groupby('Zip_Code')['Sold_Price']
print(list(df))

[(85003, 0      245,000
1      325,000
2    1,500,000
3      310,000
4      475,000
5      600,000
Name: Sold_Price, dtype: object), (85004, 6     505,000
7     557,000
8     575,000
9     505,000
10    557,000
11    575,000
Name: Sold_Price, dtype: object), (85006, 12    599,900
13    478,000
14    539,900
15    410,000
16    320,000
17    420,000
18    360,000
19    480,000
20    575,000
Name: Sold_Price, dtype: object), (85007, 21      760,000
22      735,000
23      304,000
24      599,000
25    1,845,000
Name: Sold_Price, dtype: object), (85008, 26    415,000
27    715,000
28    620,000
29    355,000
30    345,000
31    329,900
32    381,400
33    365,000
34    305,000
35    505,000
36    225,000
37    200,000
38    308,000
39    475,000
40    507,500
41    430,000
42    625,000
43    350,000
44    250,000
45    245,000
46    405,000
47    228,500
48    355,000
Name: Sold_Price, dtype: object), (85009, 49    340,000
50    355,000
51    379,995
52    146,000
53    325,000
54    178,500
55    420,000
56    220,000
57    310,000
58    315,000
59    375,000
60    290,000
61    407,000
62    360,000
63    286,000
64    256,000
65    150,000
Name: Sold_Price, dtype: object), (85012, 66      410,000
67      540,000
68      725,000
69    3,250,000
70      725,000
71      825,000
72      168,000
73      480,000
Name: Sold_Price, dtype: object), (85013, 74    990,000
75    215,000
76    310,000
77    285,000
78    338,000
79    207,500
80    525,000
81    510,000
82    370,000
83    590,000
84    510,000
85    535,000
86    370,000
87    477,000
88    635,000
89    315,000
90    652,000
91    401,500
92    685,000
93    572,000
Name: Sold_Price, dtype: object), (85014, 94       247,500
95       465,000
96       475,000
97       500,000
98       275,000
99       399,000
100      630,000
101      300,000
102      395,000
103      750,000
104      566,000
105      644,000
106      615,000
107      620,000
108      705,000
109      365,000
110      540,000
111    1,195,000
112      515,000
113    1,125,000
114      973,000
Name: Sold_Price, dtype: object), (85015, 115    244,000
116    199,900
117    351,000
118    358,000
119    375,000
120    342,900
121    439,900
122    300,000
123    152,000
124    180,000
125    399,950
126    543,000
127    325,000
128    245,000
129    370,000
130    198,000
131    455,000
132    230,500
133    278,000
134    425,000
135    352,000
136    390,000
137    395,000
138    211,900
139    352,500
140    485,000
Name: Sold_Price, dtype: object), (85016, 141      525,000
142      375,000
143      450,000
144      500,000
145      213,000
146      410,000
147      220,000
148    7,626,000
149      750,000
150      460,000
151    1,085,000
152      395,000
153      360,000
154    1,275,000
155      555,000
156    1,150,000
157      575,000
158    1,360,000
159      240,000
160    1,075,000
161      440,000
162    5,500,000
163    1,275,000
164      345,000
165      865,000
166    1,412,000
167    4,000,000
168    1,215,000
169      525,000
170      424,000
171      585,000
172      240,000
173      499,000
174    1,175,000
175    2,274,500
176      255,000
177      352,000
178      800,000
179    1,430,000
180      530,000
181    3,700,000
182      387,500
183    1,350,000
184      480,000
185      530,000
186      750,000
187      500,000
188    1,050,000
Name: Sold_Price, dtype: object), (85017, 189    400,000
190    290,000
191    355,000
192    340,000
193    358,000
194    335,000
195    299,000
196     70,000
197    365,000
198    325,000
199    285,000
200    342,000
201    185,000
202    389,990
203    314,000
204    360,000
205    369,900
Name: Sold_Price, dtype: object), (85018, 206     2,171,500
207     1,350,000
208       330,000
209     1,700,000
210     1,360,000
211       323,000
212     2,940,000
213       480,000
214     1,750,000
215     1,510,000
216       450,000
217       405,000
218       680,000
219     5,800,000
220       700,000
221     3,400,000
222       308,000
223     1,410,000
224       580,000
225       795,000
226     1,275,000
227     1,750,000
228     2,045,000
229       536,900
230     1,635,000
231       252,000
232       756,000
233       811,000
234       940,000
235       665,000
236     1,312,000
237       287,973
238     2,300,000
239       850,000
240     1,975,000
241       515,000
242    10,364,000
243       285,000
244       837,000
245       185,000
246     3,700,000
247     1,175,000
248     1,650,000
249       625,000
250     1,200,000
251     1,960,000
252     2,115,000
253       925,000
254       699,000
255     2,995,000
256     3,375,000
Name: Sold_Price, dtype: object), (85019, 257    367,000
258    365,000
259    312,000
260    160,000
261    330,000
262    342,000
263    336,000
264    345,000
265    329,000
266    210,000
267    225,000
268    345,000
269    415,000
270    415,000
271    299,900
272    385,000
273    281,000
274    220,000
275    257,000
276    305,000
Name: Sold_Price, dtype: object), (85020, 277      690,000
278      770,000
279      700,000
280      655,000
281      390,000
282      438,000
283      305,000
284      465,000
285    1,450,000
286      335,000
287      200,000
288      312,000
289      510,000
290      528,000
291      440,000
292      365,000
293      275,000
294      265,000
295      235,000
296      565,000
297      492,000
298    1,763,000
299      849,000
300      340,000
301      950,000
302    1,725,000
303      315,000
304      290,000
305      299,000
306      316,000
307      300,000
308      305,000
309      310,000
310      255,000
311      450,000
312      318,457
313      370,000
314      342,500
315      525,000
316      231,000
317      370,000
318      205,000
319      510,000
320    3,625,000
321      290,000
Name: Sold_Price, dtype: object), (85021, 322      925,000
323    1,499,990
324    1,550,000
325      715,500
326      425,000
327      755,000
328      840,000
329      425,000
330    1,225,000
331      350,000
332      375,000
333    1,473,000
334      765,000
335      490,000
336      490,000
337      427,500
338      273,000
339      800,000
340      429,999
341      239,000
342      430,000
343      270,000
Name: Sold_Price, dtype: object), (85022, 344    885,000
345    358,000
346    680,000
347    310,000
348    575,000
349    469,720
350    315,000
351    208,550
352    725,000
353    593,500
354    522,500
355    429,000
356    608,000
357    840,000
358    317,000
359    320,000
360    720,000
361    255,000
362    725,000
363    490,000
364    362,999
365    400,000
366    760,000
367    592,500
368    485,000
369    280,000
370    380,000
371    635,000
372    340,000
373    380,000
374    449,000
375    260,000
376    810,000
377    810,000
378    333,000
379    575,000
380    445,000
381    500,000
382    789,500
383    122,000
384    390,000
385    365,000
386    540,000
387    345,000
388    330,000
389    637,500
390    575,000
391    330,000
392    142,000
393    160,000
Name: Sold_Price, dtype: object), (85023, 394      460,000
395      515,000
396      627,000
397       85,000
398      439,900
399      395,000
400      500,000
401       73,000
402    1,155,000
403    1,825,000
404      390,000
405      445,000
406      525,000
407      718,000
408      385,000
409      322,000
410      435,000
411      415,000
412      460,000
413      770,000
414      565,000
415      375,000
Name: Sold_Price, dtype: object), (85024, 416    650,000
417    500,000
418    520,000
419    160,000
420    699,900
421    580,000
422    375,000
423    368,900
424    500,000
425    395,000
426    875,000
427    472,000
428    664,725
429    510,000
430    445,000
431    760,000
432    660,000
433    787,965
434    400,000
435    409,900
436    714,000
437    545,000
438    466,000
439    615,000
440    553,000
441    390,000
442    585,000
443    465,000
444    585,000
445    705,000
446    342,000
447    289,949
448    417,500
449    402,500
450    425,000
451    475,000
452    578,000
453    395,000
454    825,000
455    315,500
456    420,000
Name: Sold_Price, dtype: object), (85027, 457    229,600
458    130,000
459    390,000
460    415,000
461     41,700
462    390,000
463    250,000
464    329,000
465    320,000
466    230,000
467    321,571
468    574,500
469    415,000
470    325,000
471    320,000
472    278,000
473    400,000
474    330,000
475    450,000
476    240,000
477    339,000
478    276,000
479    390,000
480    285,000
481    297,000
482    289,000
483    405,000
484    229,000
485    475,000
Name: Sold_Price, dtype: object), (85028, 486      621,000
487      425,000
488      600,000
489      585,000
490      670,000
491      365,000
492      850,000
493      722,500
494      585,000
495      837,500
496      750,000
497    1,050,000
498      785,000
499      650,000
500      480,000
501      595,000
502      830,000
503      600,000
504      430,000
Name: Sold_Price, dtype: object), (85029, 505    355,000
506    360,000
507    240,000
508    400,000
509    455,000
510    370,000
511    452,000
512    430,000
513    431,000
514    420,000
515    386,000
516    300,000
517    335,000
518    365,000
519    455,000
520    215,000
521    280,000
522    440,000
523    360,000
524    385,000
525    470,000
526    454,000
527    309,500
528    335,000
529    410,000
530    359,900
531    350,000
532    211,000
533    424,900
534    385,000
535    399,000
536    350,000
537    315,500
Name: Sold_Price, dtype: object), (85031, 538    410,999
539    343,000
540    355,000
541    374,900
542    349,000
543    160,000
544    365,000
545    350,000
546    385,000
547    370,000
548    350,000
549    345,000
550    267,500
Name: Sold_Price, dtype: object), (85032, 551    450,000
552    228,000
553    765,000
554    292,000
555    635,000
        ...
612    705,000
613    295,000
614    480,000
615    360,000
616    350,000
Name: Sold_Price, Length: 66, dtype: object), (85033, 617    380,000
618    325,000
619    215,000
620    320,000
621    226,000
622    389,500
623    440,000
624    355,000
625    329,000
626    192,000
627    215,000
628    326,000
629    297,500
630    375,000
631    185,000
Name: Sold_Price, dtype: object), (85035, 632    362,000
633    346,500
634    380,000
635    335,000
636    369,900
637    369,500
638    355,000
639    360,000
640    334,990
641    310,000
642    349,000
643    392,000
644    410,000
645    325,000
646    375,000
Name: Sold_Price, dtype: object), (85037, 647    614,500
648    477,000
649    525,000
650    389,000
651    480,000
652    453,000
653    324,900
654    372,000
655    390,000
656    375,999
657    350,000
658    381,000
659    315,000
660    370,000
661    375,000
662    470,000
663    333,900
664    335,000
665    340,000
666    498,000
667    460,000
668    237,000
669    390,000
670    352,000
671    320,000
672    406,000
673    350,900
674    450,000
675    330,000
676    329,900
677    515,000
678    247,500
679    340,000
680    290,000
681    305,000
Name: Sold_Price, dtype: object), (85040, 682    335,000
683    505,000
684    359,000
685    203,000
686    332,000
687    465,000
688    365,500
689    449,000
690    415,000
691    313,000
692    360,000
693    460,000
694    368,000
695    304,000
696    332,000
697    350,000
698    212,000
699    389,900
700    310,000
Name: Sold_Price, dtype: object), (85041, 701    1,271,908
702      449,000
703      385,000
704       75,000
705      360,000
706      400,000
707      472,990
708      313,000
709      375,000
710      257,000
711      518,140
712      120,000
713      625,000
714      555,000
715      345,000
716      380,000
717      428,000
718      465,000
719      384,990
720      390,000
721      355,000
722      449,000
723      404,000
724      455,000
725      459,000
726      625,000
727      370,000
728      265,000
729      339,000
730      351,875
731      250,000
732      595,000
733      255,000
734      310,000
Name: Sold_Price, dtype: object), (85042, 735    495,000
736    639,000
737    659,692
738    235,000
739    283,000
740    309,000
741    400,000
742    360,000
743    260,000
744    868,000
745    450,000
746    592,000
747    265,000
748    360,000
749    350,000
750    240,000
751    389,900
752    420,000
753    309,000
754    860,000
755    425,000
756    400,000
757    496,000
758    325,000
759    340,000
760    896,000
761    496,999
762    409,775
763    305,000
764    489,000
765    549,900
766    320,000
767    410,000
768    160,000
769    370,000
770    325,000
771    499,000
772    307,000
773    249,900
774    277,000
Name: Sold_Price, dtype: object), (85043, 775    370,000
776    435,000
777    337,700
778    332,000
779    380,000
780    165,000
781    175,000
782    405,000
783    360,000
784    350,000
785    437,500
Name: Sold_Price, dtype: object), (85044, 786      414,000
787      334,250
788      575,400
789      210,000
790      425,000
791    1,030,000
792    1,000,000
793      675,000
794      405,000
795      554,000
796      645,000
797      430,000
798    1,995,000
799    1,890,000
800      615,000
801      470,000
802      575,000
803      330,000
804      282,500
805      527,000
806      557,500
807      555,000
808      360,000
809      339,000
810      725,900
811      407,000
812      385,000
813      447,000
814      319,900
815      360,000
816      460,000
Name: Sold_Price, dtype: object), (85045, 817      710,000
818      649,000
819      810,000
820      610,000
821      693,000
822    1,100,000
823      835,000
824      477,200
Name: Sold_Price, dtype: object), (85048, 825    1,050,000
826      550,000
827      395,000
828      549,900
829      670,400
830      488,000
831      655,000
832      619,900
833      258,000
834      640,000
835      753,500
836      457,000
837      832,500
838      555,000
839      530,000
840      520,000
841      285,000
842      398,500
843      942,500
844    1,140,000
845      549,000
846      600,000
847      508,000
848      435,000
849      460,000
850      970,000
851      466,000
852      568,900
853      535,000
854      925,000
855      500,000
856      828,000
857      269,500
858      585,000
859      309,900
860      725,000
861      430,000
862    1,325,000
863      505,000
864      650,000
865      625,000
Name: Sold_Price, dtype: object), (85050, 866      460,000
867      799,990
868      650,000
869    1,381,000
870      100,000
871      490,000
872      519,000
873      323,000
874    1,017,000
875      525,000
876      297,000
877      605,000
878      430,000
879      425,000
880      800,000
881      530,000
882      405,000
883      850,000
884      583,900
885      562,000
886      550,000
887      700,000
888    2,250,000
889      940,000
890      279,990
891    1,085,000
892      685,000
893      860,000
894      790,000
895      164,000
896      165,000
897      675,000
898      815,000
899      700,000
900      500,000
901      475,000
902      765,000
903      465,000
904      879,500
905      730,000
906    1,598,900
907      540,000
908      995,000
909      599,900
Name: Sold_Price, dtype: object), (85051, 910    363,000
911    138,000
912    420,000
913    395,000
914    419,990
915    335,000
916    338,000
917    377,020
918    354,900
919    239,000
920    195,000
921    259,000
922    275,000
923    389,000
924    330,000
925    250,500
926    257,000
927    315,000
928    415,000
929    937,000
930    350,000
931    349,000
932    355,000
933    359,000
934    394,000
935    325,000
936    305,000
937    370,000
938    499,990
939    365,000
Name: Sold_Price, dtype: object), (85053, 940    405,000
941    405,000
942    140,000
943    410,000
944    390,000
945    624,900
946    410,000
947    385,000
948    350,000
949    385,000
950    302,500
951    475,000
952    335,000
953    678,000
954    355,000
955    370,000
956    399,000
957    295,000
958    320,000
959    390,000
960    399,000
961    450,000
Name: Sold_Price, dtype: object), (85054, 962      836,790
963      395,000
964      951,345
965    1,150,000
966      966,520
967      950,495
968    1,030,010
969      846,655
970      854,075
971      788,495
972      667,500
973      926,996
974      725,000
975      840,000
976      305,000
977    1,375,000
978      795,000
979      507,500
980      309,000
Name: Sold_Price, dtype: object), (85083, 981      670,000
982      720,000
983      860,000
984      563,490
985      497,900
986      726,000
987      635,000
988      545,000
989      531,551
990      680,000
991      679,800
992      862,000
993      585,000
994      825,000
995      457,990
996      525,000
997      460,000
998      455,000
999    1,275,000
Name: Sold_Price, dtype: object), (85085, 1000      799,000
1001      724,930
1002      948,000
1003    1,630,000
1004      614,990
1005      940,000
1006      412,000
1007      754,930
1008      470,000
1009      824,500
1010      900,000
1011      509,000
1012      664,990
1013      335,000
1014      639,990
1015      540,000
1016      580,000
1017      699,900
1018      625,000
1019      580,000
1020      693,000
1021      642,990
1022      636,990
1023      649,490
1024      459,900
1025      380,000
1026      619,990
1027      363,000
1028      584,990
1029      740,460
1030      435,000
1031      598,000
1032      599,999
1033      324,900
1034      330,000
1035      397,000
1036      629,990
1037      635,000
1038      700,000
Name: Sold_Price, dtype: object), (85086, 1039      425,000
1040      450,000
1041      965,000
1042      965,000
1043    1,399,000
1044    1,375,000
1045      499,990
1046    1,350,000
1047    1,112,500
1048    1,210,000
1049    1,100,000
1050      465,000
1051      340,000
1052      549,000
1053    1,300,000
1054      825,000
1055      420,000
1056      588,000
1057    1,180,000
1058      455,000
1059      474,900
1060      580,000
1061      920,000
1062      540,000
1063      680,000
1064      500,000
1065    1,160,000
1066      536,000
1067      440,000
1068      670,000
1069      537,000
1070      522,000
1071      827,000
1072      354,900
1073      410,000
1074      620,000
1075      594,000
1076      440,000
1077      530,000
1078      395,000
1079      530,000
1080    1,017,500
1081      480,000
1082      700,000
1083      415,000
1084      345,000
1085      480,000
1086      450,000
1087      980,000
1088      525,000
1089      900,000
1090      360,000
1091      380,000
1092      485,000
1093      385,000
1094      400,000
Name: Sold_Price, dtype: object), (85087, 1095      840,000
1096      700,000
1097      820,000
1098      563,000
1099      550,000
1100      512,760
1101      580,000
1102      623,328
1103      618,938
1104      425,000
1105      649,000
1106      570,000
1107      480,000
1108      395,000
1109      720,000
1110      755,000
1111      465,000
1112      655,000
1113    1,080,000
1114      415,000
Name: Sold_Price, dtype: object), (85119, 1115     85,000
1116    115,000
1117    175,000
1118    215,000
1119    459,000
1120    389,000
1121    385,500
1122    460,000
1123    259,995
1124    654,900
1125    620,000
1126    186,000
1127    283,000
1128    410,000
1129    372,000
1130    550,000
1131    299,900
1132    401,000
1133    135,000
1134    273,000
1135    415,000
1136    227,500
1137    480,000
1138    775,000
1139    255,000
1140    431,000
1141    625,000
1142    392,980
1143    382,000
1144    230,000
1145    405,000
1146    132,900
1147    312,500
1148    349,000
1149    619,000
1150    760,000
1151    142,000
1152    120,000
1153    205,000
1154    450,000
1155    145,000
1156    436,590
1157    398,000
1158    394,990
1159    416,780
Name: Sold_Price, dtype: object), (85120, 1160     28,000
1161     50,000
1162    439,990
1163    360,000
1164    440,000
1165    403,000
1166    110,000
1167    400,000
1168    436,990
1169    440,000
1170    160,000
1171     38,500
1172    352,000
1173     28,000
1174     35,000
1175    233,900
1176    495,940
1177     26,000
1178     51,000
1179    350,000
1180    182,000
1181    330,000
1182    390,000

You know what a state is. What is a region? You can tabulate the distinct values along with their respective frequencies using `value_counts()`.

In [ ]:
ski_data['Region'].value_counts()

A casual inspection by eye reveals some non-state names such as Sierra Nevada, Salt Lake City, and Northern California. Tabulate the differences between Region and state. On a note regarding scaling to larger data sets, you might wonder how you could spot such cases when presented with millions of rows. This is an interesting point. Imagine you have access to a database with a Region and state column in a table and there are millions of rows. You wouldn't eyeball all the rows looking for differences! Bear in mind that our first interest lies in establishing the answer to the question "Are they always the same?" One approach might be to ask the database to return records where they differ, but limit the output to 10 rows. If there were differences, you'd only get up to 10 results, and so you wouldn't know whether you'd located all differences, but you'd know that there were 'a nonzero number' of differences. If you got an empty result set back, then you would know that the two columns always had the same value. At the risk of digressing, some values in one column only might be NULL (missing) and different databases treat NULL differently, so be aware that on many an occasion a seamingly 'simple' question gets very interesting to answer very quickly!

In [ ]:
#Code task 11#
#Filter the ski_data dataframe for rows where 'Region' and 'state' are different,
#group that by 'state' and perform `value_counts` on the 'Region'
(ski_data[ski_data.Region != ski_data.state]
 .groupby('state')['Region']
 .value_counts())

The vast majority of the differences are in California, with most Regions being called Sierra Nevada and just one referred to as Northern California.

#### 2.6.3.3 Number of distinct regions and states<a id='2.6.3.3_Number_of_distinct_regions_and_states'></a>

In [ ]:
#Code task 12#
#Select the 'Region' and 'state' columns from ski_data and use the `nunique` method to calculate
#the number of unique values in each
ski_data[['Region', 'state']].nunique()

Because a few states are split across multiple named regions, there are slightly more unique regions than states.

#### 2.6.3.4 Distribution Of Resorts By Region And State<a id='2.6.3.4_Distribution_Of_Resorts_By_Region_And_State'></a>

If this is your first time using [matplotlib](https://matplotlib.org/3.2.2/index.html)'s [subplots](https://matplotlib.org/3.2.2/api/_as_gen/matplotlib.pyplot.subplots.html), you may find the online documentation useful.

In [ ]:
#Code task 13#
#Create two subplots on 1 row and 2 columns with a figsize of (12, 8)
fig, ax = plt.subplots(nrows=1, ncols=2, figsize=(12, 8))
#Specify a horizontal barplot ('barh') as kind of plot (kind=)
ski_data.Region.value_counts().plot(kind='barh', ax=ax[0])
#Give the plot a helpful title of 'Region'
ax[0].set_title('Region')
#Label the xaxis 'Count'
ax[0].set_xlabel('Count')
#Specify a horizontal barplot ('barh') as kind of plot (kind=)
ski_data.state.value_counts().plot(kind='barh', ax=ax[1])
#Give the plot a helpful title of 'state'
ax[1].set_title('state')
#Label the xaxis 'Count'
ax[1].set_xlabel('Count')
#Give the subplots a little "breathing room" with a wspace of 0.5
plt.subplots_adjust(wspace=0.5);
#You're encouraged to explore a few different figure sizes, orientations, and spacing here
# as the importance of easy-to-read and informative figures is frequently understated
# and you will find the ability to tweak figures invaluable later on

How's your geography? Looking at the distribution of States, you see New York accounting for the majority of resorts. Our target resort is in Montana, which comes in at 13th place. You should think carefully about how, or whether, you use this information. Does New York command a premium because of its proximity to population? Even if a resort's State were a useful predictor of ticket price, your main interest lies in Montana. Would you want a model that is skewed for accuracy by New York? Should you just filter for Montana and create a Montana-specific model? This would slash your available data volume. Your problem task includes the contextual insight that the data are for resorts all belonging to the same market share. This suggests one might expect prices to be similar amongst them. You can look into this. A boxplot grouped by State is an ideal way to quickly compare prices. Another side note worth bringing up here is that, in reality, the best approach here definitely would include consulting with the client or other domain expert. They might know of good reasons for treating states equivalently or differently. The data scientist is rarely the final arbiter of such a decision. But here, you'll see if we can find any supporting evidence for treating states the same or differently.

#### 2.6.3.5 Distribution Of Ticket Price By State<a id='2.6.3.5_Distribution_Of_Ticket_Price_By_State'></a>

Our primary focus is our Big Mountain resort, in Montana. Does the state give you any clues to help decide what your primary target response feature should be (weekend or weekday ticket prices)?

##### 2.6.3.5.1 Average weekend and weekday price by state<a id='2.6.3.5.1_Average_weekend_and_weekday_price_by_state'></a>

In [ ]:
#Code task 14#
# Calculate average weekday and weekend price by state and sort by the average of the two
# Hint: use the pattern dataframe.groupby(<grouping variable>)[<list of columns>].mean()
state_price_means = ski_data.groupby('state')[['AdultWeekday', 'AdultWeekend']].mean()
state_price_means.head(50)

In [ ]:
# The next bit simply reorders the index by increasing average of weekday and weekend prices
# Compare the index order you get from
# state_price_means.index
# with
# state_price_means.mean(axis=1).sort_values(ascending=False).index
# See how this expression simply sits within the reindex()
(state_price_means.reindex(index=state_price_means.mean(axis=1)
                          .sort_values(ascending=False)
                          .index)
                          .plot(kind='barh', figsize=(10, 10), title='Average ticket price by State'))
plt.xlabel('Price ($)');

The figure above represents a dataframe with two columns, one for the average prices of each kind of ticket. This tells you how the average ticket price varies from state to state. But can you get more insight into the difference in the distributions between states?

##### 2.6.3.5.2 Distribution of weekday and weekend price by state<a id='2.6.3.5.2_Distribution_of_weekday_and_weekend_price_by_state'></a>

Next, you can transform the data into a single column for price with a new categorical column that represents the ticket type.

In [ ]:
#Code task 15#
#Use the pd.melt function, pass in the ski_data columns 'state', 'AdultWeekday', and 'Adultweekend' only,
#specify 'state' for `id_vars`
#gather the ticket prices from the 'Adultweekday' and 'AdultWeekend' columns using the `value_vars` argument,
#call the resultant price column 'Price' via the `value_name` argument,
#name the weekday/weekend indicator column 'Ticket' via the `var_name` argument
ticket_prices = pd.melt(ski_data[['state', 'AdultWeekday', 'AdultWeekend']], 
                        id_vars='state', 
                        var_name='Ticket', 
                        value_vars=['AdultWeekday', 'AdultWeekend'], 
                        value_name='Price')

In [ ]:
ticket_prices.head()

This is now in a format we can pass to [seaborn](https://seaborn.pydata.org/)'s [boxplot](https://seaborn.pydata.org/generated/seaborn.boxplot.html) function to create boxplots of the ticket price distributions for each ticket type for each state.

In [ ]:
#Code task 16#
#Create a seaborn boxplot of the ticket price dataframe we created above,
#with 'state' on the x-axis, 'Price' as the y-value, and a hue that indicates 'Ticket'
#This will use boxplot's x, y, hue, and data arguments.
plt.subplots(figsize=(12, 8))
sns.boxplot(x='state', y='Price', hue='Ticket', data=ticket_prices)
plt.xticks(rotation='vertical')
plt.ylabel('Price ($)')
plt.xlabel('State');

Aside from some relatively expensive ticket prices in California, Colorado, and Utah, most prices appear to lie in a broad band from around 25 to over 100 dollars. Some States show more variability than others. Montana and South Dakota, for example, both show fairly small variability as well as matching weekend and weekday ticket prices. Nevada and Utah, on the other hand, show the most range in prices. Some States, notably North Carolina and Virginia, have weekend prices far higher than weekday prices. You could be inspired from this exploration to consider a few potential groupings of resorts, those with low spread, those with lower averages, and those that charge a premium for weekend tickets. However, you're told that you are taking all resorts to be part of the same market share, you  could argue against further segment the resorts. Nevertheless, ways to consider using the State information in your modelling include:

* disregard State completely
* retain all State information
* retain State in the form of Montana vs not Montana, as our target resort is in Montana

You've also noted another effect above: some States show a marked difference between weekday and weekend ticket prices. It may make sense to allow a model to take into account not just State but also weekend vs weekday.

Thus we currently have two main questions you want to resolve:

* What do you do about the two types of ticket price?
* What do you do about the state information?

### 2.6.4 Numeric Features<a id='2.6.4_Numeric_Features'></a>

Having decided to reserve judgement on how exactly you utilize the State, turn your attention to cleaning the numeric features.

#### 2.6.4.1 Numeric data summary<a id='2.6.4.1_Numeric_data_summary'></a>

In [ ]:
#Code task 17#
#Call ski_data's `describe` method for a statistical summary of the numerical columns
#Hint: there are fewer summary stat columns than features, so displaying the transpose
#will be useful again
ski_data.describe().T

Recall you're missing the ticket prices for some 16% of resorts. This is a fundamental problem that means you simply lack the required data for those resorts and will have to drop those records. But you may have a weekend price and not a weekday price, or vice versa. You want to keep any price you have.

In [ ]:
missing_price = ski_data[['AdultWeekend','AdultWeekday']].isnull().sum(axis=1)
print(missing_price)
missing_price.value_counts()/len(missing_price) * 100

Just over 82% of resorts have no missing ticket price, 3% are missing one value, and 14% are missing both. You will definitely want to drop the records for which you have no price information, however you will not do so just yet. There may still be useful information about the distributions of other features in that 14% of the data.

#### 2.6.4.2 Distributions Of Feature Values<a id='2.6.4.2_Distributions_Of_Feature_Values'></a>

Note that, although we are still in the 'data wrangling and cleaning' phase rather than exploratory data analysis, looking at distributions of features is immensely useful in getting a feel for whether the values look sensible and whether there are any obvious outliers to investigate. Some exploratory data analysis belongs here, and data wrangling will inevitably occur later on. It's more a matter of emphasis. Here, we're interesting in focusing on whether distributions look plausible or wrong. Later on, we're more interested in relationships and patterns.

In [ ]:
#Code task 18#
#Call ski_data's `hist` method to plot histograms of each of the numeric features
#Try passing it an argument figsize=(15,10)
#Try calling plt.subplots_adjust() with an argument hspace=0.5 to adjust the spacing
#It's important you create legible and easy-to-read plots
ski_data.hist(figsize=(15, 10))
plt.subplots_adjust(hspace=0.5);
#Hint: notice how the terminating ';' "swallows" some messy output and leads to a tidier notebook

What features do we have possible cause for concern about and why?

* SkiableTerrain_ac because values are clustered down the low end,
* Snow Making_ac for the same reason,
* fastEight because all but one value is 0 so it has very little variance, and half the values are missing,
* fastSixes raises an amber flag; it has more variability, but still mostly 0,
* trams also may get an amber flag for the same reason,
* yearsOpen because most values are low but it has a maximum of 2019, which strongly suggests someone recorded calendar year rather than number of years.

##### 2.6.4.2.1 SkiableTerrain_ac<a id='2.6.4.2.1_SkiableTerrain_ac'></a>

In [ ]:
#Code task 19#
#Filter the 'SkiableTerrain_ac' column to print the values greater than 10000
ski_data.SkiableTerrain_ac[ski_data.SkiableTerrain_ac > 10000]

**Q: 2** One resort has an incredibly large skiable terrain area! Which is it?

In [ ]:
#Code task 20#
#Now you know there's only one, print the whole row to investigate all values, including seeing the resort name
#Hint: don't forget the transpose will be helpful here
ski_data[ski_data.SkiableTerrain_ac > 10000].T

**A: 2** Silverton Mountain

But what can you do when you have one record that seems highly suspicious?

You can see if your data are correct. Search for "silverton mountain skiable area". If you do this, you get some [useful information](https://www.google.com/search?q=silverton+mountain+skiable+area).

![Silverton Mountain information](images/silverton_mountain_info.png)

You can spot check data. You see your top and base elevation values agree, but the skiable area is very different. Your suspect value is 26819, but the value you've just looked up is 1819. The last three digits agree. This sort of error could have occured in transmission or some editing or transcription stage. You could plausibly replace the suspect value with the one you've just obtained. Another cautionary note to make here is that although you're doing this in order to progress with your analysis, this is most definitely an issue that should have been raised and fed back to the client or data originator as a query. You should view this "data correction" step as a means to continue (documenting it carefully as you do in this notebook) rather than an ultimate decision as to what is correct.

In [ ]:
#Code task 21#
#Use the .loc accessor to print the 'SkiableTerrain_ac' value only for this resort
ski_data.loc[39, 'SkiableTerrain_ac']

In [ ]:
#Code task 22#
#Use the .loc accessor again to modify this value with the correct value of 1819
ski_data.loc[39, 'SkiableTerrain_ac'] = 1819

In [ ]:
#Code task 23#
#Use the .loc accessor a final time to verify that the value has been modified
ski_data.loc[39, 'SkiableTerrain_ac']

**NB whilst you may become suspicious about your data quality, and you know you have missing values, you will not here dive down the rabbit hole of checking all values or web scraping to replace missing values.**

What does the distribution of skiable area look like now?

In [ ]:
ski_data.SkiableTerrain_ac.hist(bins=30)
plt.xlabel('SkiableTerrain_ac')
plt.ylabel('Count')
plt.title('Distribution of skiable area (acres) after replacing erroneous value');

You now see a rather long tailed distribution. You may wonder about the now most extreme value that is above 8000, but similarly you may also wonder about the value around 7000. If you wanted to spend more time manually checking values you could, but leave this for now. The above distribution is plausible.

##### 2.6.4.2.2 Snow Making_ac<a id='2.6.4.2.2_Snow_Making_ac'></a>

In [ ]:
ski_data['Snow Making_ac'][ski_data['Snow Making_ac'] > 1000]

In [ ]:
ski_data[ski_data['Snow Making_ac'] > 3000].T

You can adopt a similar approach as for the suspect skiable area value and do some spot checking. To save time, here is a link to the website for [Heavenly Mountain Resort](https://www.skiheavenly.com/the-mountain/about-the-mountain/mountain-info.aspx). From this you can glean that you have values for skiable terrain that agree. Furthermore, you can read that snowmaking covers 60% of the trails.

What, then, is your rough guess for the area covered by snowmaking?

In [ ]:
.6 * 4800

This is less than the value of 3379 in your data so you may have a judgement call to make. However, notice something else. You have no ticket pricing information at all for this resort. Any further effort spent worrying about values for this resort will be wasted. You'll simply be dropping the entire row!

##### 2.6.4.2.3 fastEight<a id='2.6.4.2.3_fastEight'></a>

Look at the different fastEight values more closely:

In [ ]:
ski_data.fastEight.value_counts()

Drop the fastEight column in its entirety; half the values are missing and all but the others are the value zero. There is essentially no information in this column.

In [ ]:
#Code task 24#
#Drop the 'fastEight' column from ski_data. Use inplace=True
ski_data.drop(columns ='fastEight', inplace=True)

What about yearsOpen? How many resorts have purportedly been open for more than 100 years?

In [ ]:
#Code task 25#
#Filter the 'yearsOpen' column for values greater than 100
ski_data.yearsOpen[ski_data.yearsOpen> 100]

Okay, one seems to have been open for 104 years. But beyond that, one is down as having been open for 2019 years. This is wrong! What shall you do about this?

What does the distribution of yearsOpen look like if you exclude just the obviously wrong one?

In [ ]:
#Code task 26#
#Call the hist method on 'yearsOpen' after filtering for values under 1000
#Pass the argument bins=30 to hist(), but feel free to explore other values
ski_data.yearsOpen[ski_data.yearsOpen < 1000].hist(bins=30)
plt.xlabel('Years open')
plt.ylabel('Count')
plt.title('Distribution of years open excluding 2019');

The above distribution of years seems entirely plausible, including the 104 year value. You can certainly state that no resort will have been open for 2019 years! It likely means the resort opened in 2019. It could also mean the resort is due to open in 2019. You don't know when these data were gathered!

Let's review the summary statistics for the years under 1000.

In [ ]:
ski_data.yearsOpen[ski_data.yearsOpen < 1000].describe()

The smallest number of years open otherwise is 6. You can't be sure whether this resort in question has been open zero years or one year and even whether the numbers are projections or actual. In any case, you would be adding a new youngest resort so it feels best to simply drop this row.

In [ ]:
ski_data=ski_data[ski_data.yearsOpen < 1000]

##### 2.6.4.2.4 fastSixes and Trams<a id='2.6.4.2.4_fastSixes_and_Trams'></a>

The other features you had mild concern over, you will not investigate further. Perhaps take some care when using these features.

## 2.7 Derive State-wide Summary Statistics For Our Market Segment<a id='2.7_Derive_State-wide_Summary_Statistics_For_Our_Market_Segment'></a>

You have, by this point removed one row, but it was for a resort that may not have opened yet, or perhaps in its first season. Using your business knowledge, you know that state-wide supply and demand of certain skiing resources may well factor into pricing strategies. Does a resort dominate the available night skiing in a state? Or does it account for a large proportion of the total skiable terrain or days open?

If you want to add any features to your data that captures the state-wide market size, you should do this now, before dropping any more rows. In the next section, you'll drop rows with missing price information. Although you don't know what those resorts charge for their tickets, you do know the resorts exists and have been open for at least six years. Thus, you'll now calculate some state-wide summary statistics for later use.

Many features in your data pertain to chairlifts, that is for getting people around each resort. These aren't relevant, nor are the features relating to altitudes. Features that you may be interested in are:

* TerrainParks
* SkiableTerrain_ac
* daysOpenLastYear
* NightSkiing_ac

When you think about it, these are features it makes sense to sum: the total number of terrain parks, the total skiable area, the total number of days open, and the total area available for night skiing. You might consider the total number of ski runs, but understand that the skiable area is more informative than just a number of runs.

A fairly new groupby behaviour is [named aggregation](https://pandas-docs.github.io/pandas-docs-travis/whatsnew/v0.25.0.html). This allows us to clearly perform the aggregations you want whilst also creating informative output column names.

In [ ]:
#Code task 27#
#Add named aggregations for the sum of 'daysOpenLastYear', 'TerrainParks', and 'NightSkiing_ac'
#call them 'state_total_days_open', 'state_total_terrain_parks', and 'state_total_nightskiing_ac',
#respectively
#Finally, add a call to the reset_index() method (we recommend you experiment with and without this to see
#what it does)
state_summary = ski_data.groupby('state').agg(
    resorts_per_state=pd.NamedAgg(column='Name', aggfunc='size'), #could pick any column here
    state_total_skiable_area_ac=pd.NamedAgg(column='SkiableTerrain_ac', aggfunc='sum'),
    state_total_days_open=pd.NamedAgg(column='daysOpenLastYear', aggfunc='sum'),
    state_total_terrain_parks=pd.NamedAgg(column='TerrainParks', aggfunc='sum'),
    state_total_nightskiing_ac=pd.NamedAgg(column='NightSkiing_ac', aggfunc='sum')
).reset_index()
state_summary.head(40)

## 2.8 Drop Rows With No Price Data<a id='2.8_Drop_Rows_With_No_Price_Data'></a>

You know there are two columns that refer to price: 'AdultWeekend' and 'AdultWeekday'. You can calculate the number of price values missing per row. This will obviously have to be either 0, 1, or 2, where 0 denotes no price values are missing and 2 denotes that both are missing.

In [ ]:
missing_price = ski_data[['AdultWeekend', 'AdultWeekday']].isnull().sum(axis=1)
missing_price.value_counts()/len(missing_price) * 100

About 14% of the rows have no price data. As the price is your target, these rows are of no use. Time to lose them.

In [ ]:
#Code task 28#
#Use `missing_price` to remove rows from ski_data where both price values are missing
ski_data = ski_data[missing_price != 2]

## 2.9 Review distributions<a id='2.9_Review_distributions'></a>

In [ ]:
ski_data.hist(figsize=(15, 10))
plt.subplots_adjust(hspace=0.5);

These distributions are much better. There are clearly some skewed distributions, so keep an eye on `fastQuads`, `fastSixes`, and perhaps `trams`. These lack much variance away from 0 and may have a small number of relatively extreme values.  Models failing to rate a feature as important when domain knowledge tells you it should be is an issue to look out for, as is a model being overly influenced by some extreme values. If you build a good machine learning pipeline, hopefully it will be robust to such issues, but you may also wish to consider nonlinear transformations of features.

## 2.10 Population data<a id='2.10_Population_data'></a>

Population and area data for the US states can be obtained from [wikipedia](https://simple.wikipedia.org/wiki/List_of_U.S._states). Listen, you should have a healthy concern about using data you "found on the Internet". Make sure it comes from a reputable source. This table of data is useful because it allows you to easily pull and incorporate an external data set. It also allows you to proceed with an analysis that includes state sizes and populations for your 'first cut' model. Be explicit about your source (we documented it here in this workflow) and ensure it is open to inspection. All steps are subject to review, and it may be that a client has a specific source of data they trust that you should use to rerun the analysis.

In [ ]:
#Code task 29#
#Use pandas' `read_html` method to read the table from the URL below
states_url = 'https://simple.wikipedia.org/w/index.php?title=List_of_U.S._states&oldid=7168473'
usa_states = pd.read_html(states_url)

In [ ]:
type(usa_states)

In [ ]:
len(usa_states)

In [ ]:
usa_states = usa_states[0]
usa_states.head()

Note, in even the last year, the capability of `pd.read_html()` has improved. The merged cells you see in the web table are now handled much more conveniently, with 'Phoenix' now being duplicated so the subsequent columns remain aligned. But check this anyway. If you extract the established date column, you should just get dates. Recall previously you used the `.loc` accessor, because you were using labels. Now you want to refer to a column by its index position and so use `.iloc`. For a discussion on the difference use cases of `.loc` and `.iloc` refer to the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html).

In [ ]:
#Code task 30#
#Use the iloc accessor to get the pandas Series for column number 4 from `usa_states`
#It should be a column of dates
established = usa_states.iloc[:, 4]

In [ ]:
established

Extract the state name, population, and total area (square miles) columns.

In [ ]:
#Code task 31#
#Now use the iloc accessor again to extract columns 0, 5, and 6 and the dataframe's `copy()` method
#Set the names of these extracted columns to 'state', 'state_population', and 'state_area_sq_miles',
#respectively.
usa_states_sub = usa_states.iloc[:, [0,5,6]].copy()
usa_states_sub.columns = ['state', 'state_population', 'state_area_sq_miles']
usa_states_sub.head()

Do you have all the ski data states accounted for?

In [ ]:
#Code task 32#
#Find the states in `state_summary` that are not in `usa_states_sub`
#Hint: set(list1) - set(list2) is an easy way to get items in list1 that are not in list2
missing_states = set(state_summary.state) - set(usa_states_sub.state)
missing_states

No??

If you look at the table on the web, you can perhaps start to guess what the problem is. You can confirm your suspicion by pulling out state names that _contain_ 'Massachusetts', 'Pennsylvania', or 'Virginia' from usa_states_sub:

In [ ]:
usa_states_sub.state[usa_states_sub.state.str.contains('Massachusetts|Pennsylvania|Rhode Island|Virginia')]

Delete square brackets and their contents and try again:

In [ ]:
#Code task 33#
#Use pandas' Series' `replace()` method to replace anything within square brackets (including the brackets)
#with the empty string. Do this inplace, so you need to specify the arguments:
#to_replace='\[.*\]' #literal square bracket followed by anything or nothing followed by literal closing bracket
#value='' #empty string as replacement
#regex=True #we used a regex in our `to_replace` argument
#inplace=True #Do this "in place"
usa_states_sub.state.replace(to_replace='\[.*\]', value='', regex=True, inplace=True)
usa_states_sub.state[usa_states_sub.state.str.contains('Massachusetts|Pennsylvania|Rhode Island|Virginia')]

In [ ]:
#Code task 34#
#And now verify none of our states are missing by checking that there are no states in
#state_summary that are not in usa_states_sub (as earlier using `set()`)
missing_states = set(state_summary.state) - set(usa_states_sub.state)
missing_states

Better! You have an empty set for missing states now. You can confidently add the population and state area columns to the ski resort data.

In [ ]:
#Code task 35#
#Use 'state_summary's `merge()` method to combine our new data in 'usa_states_sub'
#specify the arguments how='left' and on='state'
state_summary = state_summary.merge(usa_states_sub, how='left', on='state')
state_summary.head()

Having created this data frame of summary statistics for various states, it would seem obvious to join this with the ski resort data to augment it with this additional data. You will do this, but not now. In the next notebook you will be exploring the data, including the relationships between the states. For that you want a separate row for each state, as you have here, and joining the data this soon means you'd need to separate and eliminate redundances in the state data when you wanted it.

## 2.11 Target Feature<a id='2.11_Target_Feature'></a>

Finally, what will your target be when modelling ticket price? What relationship is there between weekday and weekend prices?

In [ ]:
#Code task 36#
#Use ski_data's `plot()` method to create a scatterplot (kind='scatter') with 'AdultWeekday' on the x-axis and
#'AdultWeekend' on the y-axis
ski_data.plot(x='AdultWeekday', y='AdultWeekend', kind='scatter');

A couple of observations can be made. Firstly, there is a clear line where weekend and weekday prices are equal. Weekend prices being higher than weekday prices seem restricted to sub $100 resorts. Recall from the boxplot earlier that the distribution for weekday and weekend prices in Montana seemed equal. Is this confirmed in the actual data for each resort? Big Mountain resort is in Montana, so the relationship between these quantities in this state are particularly relevant.

In [ ]:
#Code task 37#
#Use the loc accessor on ski_data to print the 'AdultWeekend' and 'AdultWeekday' columns for Montana only
ski_data.loc[ski_data.state == 'Montana', ['AdultWeekend', 'AdultWeekday']]

Is there any reason to prefer weekend or weekday prices? Which is missing the least?

In [ ]:
ski_data[['AdultWeekend', 'AdultWeekday']].isnull().sum()

Weekend prices have the least missing values of the two, so drop the weekday prices and then keep just the rows that have weekend price.

In [ ]:
ski_data.drop(columns='AdultWeekday', inplace=True)
ski_data.dropna(subset=['AdultWeekend'], inplace=True)

In [ ]:
ski_data.shape

Perform a final quick check on the data.

### 2.11.1 Number Of Missing Values By Row - Resort<a id='2.11.1_Number_Of_Missing_Values_By_Row_-_Resort'></a>

Having dropped rows missing the desired target ticket price, what degree of missingness do you have for the remaining rows?

In [ ]:
missing = pd.concat([ski_data.isnull().sum(axis=1), 100 * ski_data.isnull().mean(axis=1)], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False).head(10)

These seem possibly curiously quantized...

In [ ]:
missing['%'].unique()

Yes, the percentage of missing values per row appear in multiples of 4.

In [ ]:
missing['%'].value_counts()

This is almost as if values have been removed artificially... Nevertheless, what you don't know is how useful the missing features are in predicting ticket price. You shouldn't just drop rows that are missing several useless features.

In [ ]:
ski_data.info()

There are still some missing values, and it's good to be aware of this, but leave them as is for now.

## 2.12 Save data<a id='2.12_Save_data'></a>

In [ ]:
ski_data.shape

Save this to your data directory, separately. Note that you were provided with the data in `raw_data` and you should saving derived data in a separate location. This guards against overwriting our original data.

In [ ]:
# save the data to a new csv file
datapath = '../data'
save_file(ski_data, 'ski_data_cleaned.csv', datapath)

In [ ]:
# save the state_summary separately.
datapath = '../data'
save_file(state_summary, 'state_summary.csv', datapath)

## 2.13 Summary<a id='2.13_Summary'></a>

**Q: 3** Write a summary statement that highlights the key processes and findings from this notebook. This should include information such as the original number of rows in the data, whether our own resort was actually present etc. What columns, if any, have been removed? Any rows? Summarise the reasons why. Were any other issues found? What remedial actions did you take? State where you are in the project. Can you confirm what the target feature is for your desire to predict ticket price? How many rows were left in the data? Hint: this is a great opportunity to reread your notebook, check all cells have been executed in order and from a "blank slate" (restarting the kernel will do this), and that your workflow makes sense and follows a logical pattern. As you do this you can pull out salient information for inclusion in this summary. Thus, this section will provide an important overview of "what" and "why" without having to dive into the "how" or any unproductive or inconclusive steps along the way.

## **A: 3** Summary 

The raw data found in `ski_resort_data.csv` file is imported in `"02_data_wrangling.ipynb"` jupyter notebook as `ski_data`. The `ski_data` has 330 rows (the resort names in US) and 27 columns (named for resort features, ticket prices weekend, weekday, and so on). The Big Mountain Resort is found on row 151 and has no missing values. 

After counting and sorting the number of missing values in each column using isnull() and sum() methods, it is evident that:

* the `fastEight` column contains the highest number of missing values 166, accounting for 50.3% of all data in that column. 
* the desired target quantity, found in columns `AdultWeekend` and `AdultWeekday`, have 15.45% and 16.36% missing values, respectively. 
* `Name` column contains the name of all resorts considered in this study and the `“Region”` and `“state”` columns contain the region and state where the resort is located in. The columns `“Name”`, `“Region”` and `“state”` have no missing data. 

When using value_counts() method on `“Name”` column, the “Crystal Mountain” resort appears twice. When combining `“Name”` and `“ Region”` columns there are no duplicate values. When combining `“Name”` and `“State”` columns there are also no duplicate values. Therefore, a filter by “Crystal Mountain” on column `“Name”` shows there are actually two different resorts both named “Crystal Mountain”, one in Michigan and the other in Washington state. Therefore, data pertaining to these resorts is treated as unique values and not discarded as duplicates.

There are 33 entries out of 330, in `ski_data` where `“Region”` and `“state”` are different from each other, 21 in California, 6 in Utah, 4 in Oregon and 2 in Nevada. 

The `ski_data` contains 35 states and 38 distinct regions, as some regions span over more than one state. Analysis shows New York state has most resorts per state and per region. State of Montana ranks 12-ve with most resorts out of the 35 states in the ski_data data set.

<br>        Analysis of weekday and weekend pricing in each state shows that:<br>
* California, Colorado and Utah are the most expensive. 
* Majority of ticket prices in all states are between $\$25$ and $\$75$. 
* Some states show high variability in ticket pricing between weekend and weekdays, but in Montana the average ticket prices on weekdays is the same as the price on weekends, about $52. 

<br>       Analyzing `AdultWeekday` and `AdultWeekend` columns:        
* 14.4% of ticket price data is missing in both columns 
* 3.3% is missing in either one or the other column 
* 82.4% is complete with values in both columns 

<br>        A quick exploratory data analysis, to visualize the data distribution for each feature, is necessary at this point to spot obvious and abnormal outliers. Conclusions:
      
* The distribution of data values from column `“fastEight”` is represented by a single bar, in the histogram chart, at value 1. Given the large number of missing values, over 50%, and that the rest of data has values of zero, with one exception, the decision to drop the column is taken. No information can be used from this column
* The column named `“fastSixes”` is also represented by one bar and only two other very small bars, representing a heavily skewed distribution. No decision taken for now.
* `“trams”` column distribution is similar to `“fastSixes”`. No decision taken for now.
* The `“yearsOpen”` column shows a maximum value of 2019 indicating someone recorded calendar year rather than the number of years. The row containing wrong data is removed and `“yearsOpen”` span is now ranging from 6 to 104. Histogram is not skewed anymore.  Can't be sure whether this resort in question has been open zero years or one year and even whether the numbers are projections or actual. In any case, it would be adding a new youngest resort so it feels best to simply drop this row.
* `“Skiable Terrain_ac”` maximum value is 26,819, matching the “Silverton Mountain” resort. Researching an official source shows the correct and actual value is 1,819. The data point value in `ski_data` is updated with correct value. The histogram distribution has improved. 
* The “Snow Making_ac” outlier value of 3,379 for a `“SkiableTerrain_ac”` of 4800 indicates a coverage of 70%. Even a 60% coverage, that corresponds to a 2,880 value for `“Snow Making_ac”`, it would still be considered an abnormal outlier. Therefore, the row matching the “Heavenly Mountain Resort” is dropped, more over the data for ticket pricing are also missing.


Features to be considered in the ticket pricing model prediction:
   * TerrainParks
   * SkiableTerrain_ac
   * daysOpenLastYear
   * NightSkiing_ac
   
A ``**state_summary**`` dataframe with columns:
 ['state', 'resorts_per_state', 'state_total_skiable_area_ac', 'state_total_days_open', 'state_total_terrain_parks', 'state_total_nightskiing_ac'] for each state from ski_data is built to better visualize and organize the data of interest. 

Previous data analysis revealed that about 14% of data contained in `ski_data` columns `“AdultWeekend”` and `“AdultWeekday”` is missing the ticket pricing information in both columns. Therefore, all the rows 
with missing data are dropped, they are of no use for the scope of this study. The `ski_data` distribution   histograms are looking much better now.

The states total area and population are important information to consider and must be included in        ski_data data frame. The online source for states and population is found at:
<br>‘https://simple.wikipedia.org/w/index.php?title=List_of_U.S._states&oldid=7168473'. 

A new dataframe named `usa_states_sub` is built with columns `“state”`, `“state_population”`, 
`“state_area_sq_miles”`. The states columns in both `ski_data` and `usa_states_sub`  are compared to confirm a one-to-one match. It is found that 'Massachusetts', 'Pennsylvania', 'Rhode Island', and 'Virginia' in `ski_data` do not have a match in `usa_states_sub`. Extracting the names of these states from `usa_states_sub` reveals that the state names are followed by a letter in square brackets. After removing the square brackets and rechecking for one to one match, a perfect match is confirmed. Now the two dataframes are merged together in the data frame called `state_summary`. 

The target feature, ticket pricing, consists of weekday and weekend pricing. A scatterplot shows a clear line where weekend and weekday prices are equal, weekend prices being higher than weekday prices seem restricted to sub $100 resorts. The distribution for weekday and weekend prices in Montana seemed equal. Big Mountain resort is in Montana, so the relationship between these quantities in this state are particularly relevant. There is no apparent reason to keep both if they are both the same. To decide which one to drop we look at the least number of missing values: `AdultWeekday` has 7 and `AdultWeekend` has 4. `AdultWeekend` is kept, `AdultWeekday` is dropped. The `ski_data` has now 277 rows and 25 columns.

Further analysis on number of missing values by row – resort reveals a curious pattern: the percentage of missing values per row appear in multiples of 4. 

<ul>
    <li>% __ missing values</li>
<li>0.0  ...... 107</li>
<li>4.0  ...... 94</li>
<li>8.0  ...... 45</li>
<li>12.0 .... 15</li>
<li>16.0 .... 10</li>
<li>20.0 .... 6</li>
</ul>

No decision to drop the rows is taken before is determined how useful the missing features are in predicting ticket price. 

The `ski_data` is saved in a folder named `data` as `ski_data_cleaned.csv` and `state_summary` as `state-summary.csv`